<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:fragment="layout(content)">

<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Opizza</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script th:src="@{/js/scripts.js}" defer></script>
</head>

<body class="flex flex-col min-h-screen">
    <nav class="text-white shadow-lg">
        <div class="container mx-auto px-4 py-3 flex justify-between items-center">
            <a th:href="@{/}" class="flex items-center text-2xl font-bold text-gray-600 gap-4"><img th:src="@{/img/logo.png}" alt="Logo" width="60"> Opizza</a>

            <div class="flex items-center space-x-6">
                <form th:action="@{/}" method="get" class="relative">
                    <input type="text" name="search" placeholder="Hľadať pizzu" class="rounded-full px-4 py-1 w-64 border border-gray-300">
                    <button type="submit" class="absolute right-3 top-1">
                        <i class="fa fa-search text-blue-600"></i>
                    </button>
                </form>

                <a th:href="@{/cart}" class="text-blue-600">
                    <i class="fa fa-shopping-cart"></i> Košík
                </a>

                <div sec:authorize="isAnonymous()" class="text-blue-600">
                    <a th:href="@{/auth/login}">Prihlásiť</a>
                </div>

                <div sec:authorize="isAuthenticated()" class="flex items-center space-x-4">
                    <a th:href="@{/profile}" class="font-semibold text-gray-600" th:text="${#authentication.principal.firstName}">Meno</a>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="text-sm px-3 py-1 rounded-full text-blue-600">Odhlásiť</button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mx-auto px-4 py-8 flex-grow">
        <div th:replace="${content}"></div>
    </main>

    <footer class="bg-gray-800 text-white py-6 mt-auto">
        <div class="container mx-auto px-4 text-center">
            <p>2025 - <span th:text="${#temporals.format(#temporals.createNow(), 'yyyy')}"></span> &copy; Opizza</p>
        </div>
    </footer>

</body>
</html>